<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./images/nophoto.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
    <script src="./js/moment.js"></script>
    <title><%=title %></title>
  </head>
  <body>
    <% if(loggedInUser && loggedInUser.name){ %>
    <div class="menu">
      <a href="/inbox">Inbox</a>
      <a href="/user">User</a>
      <a href="#" onclick="logout()">Logout</a>
    </div>
    <% }else{ %>
    <div class="menu">
      <a href="/inbox">Inbox</a>
      <a href="/user">User</a>
      <a href="/">Login</a>
    </div>
    <% } %>
    <script>
      const toast = Toastify({
        text: "You are being logged out",
        duration: 3000,
      });

      const logout = function () {
        fetch("/", {
          method: "DELETE",
        });
        toast.showToast();
        console.log("ishduk");
        setTimeout(()=>{
          window.location.replace("/")
        },1000)
      };
    </script>
  </body>
</html>
