<%- include("./partials/header.ejs")%>

    <div class="inbox-main">
      <div class="search">
        <input type="text" placeholder="Search" />
      </div>

      <div class="msg-head">
        <h2>M.A. Asad</h2>
        <img src="./images/trash.png" alt="Delete" />
      </div>

      <div class="dp-list">

        <div class="no-conversation">
          <img src="./images/no-conversation (1).svg" alt="No conversation">
        </div>
        <!-- <div class="dp active">
          <img src="./images/user1.png" alt="Asad" />
          <div class="title">
            <div class="name">
              <h4>M.A. Asad</h4>
              <p>Mar 14</p>
            </div>
            <p class="msg">This is message</p>
          </div>
        </div>

        <div class="dp">
          <img src="./images/user2.png" alt="Asad" />
          <div class="title">
            <div class="name">
              <h4>Ms. Girl</h4>
              <p>Apr 24</p>
            </div>
            <p class="msg">This is message</p>
          </div>
        </div> -->

      </div>

      <div class="msg-body">
        <div class="no-message">
          <h2>Select a conversation</h2>
        </div>

        <!-- <div class=" message-box your-msg">
          <div class="message">See you later</div>
          <div class="date">Mar 14</div>
        </div>

          <div class="others-msg">
            <img src="./images/user1.png" alt="" />
            <div class="message-box">
              <div class="message">Ok bye</div>
              <div class="date">Mar 14</div>
            </div>
          </div> -->

        </div>

      <div class="nothing">
        <a onclick="openModal()">+</a>
      </div>

      <div class="new-msg">
        <img src="./images/attachment.png" alt="" />
        <input type="text" placeholder="Type a message" />
      </div>
    </div>
    <%- include("./partials/inboxModal.ejs") %>
  </body>
</html>
