<%- include("./partials/header.ejs")%>
    <div class="login-main">
      <div class="sm-side">
      </div>

      <div class="lg-side">
        <div class="title">
          <img src="./images/user1.png" alt="User" />
          <h1>Login - Chat App</h1>
        </div>

        <form action="">
          <div class="input">
            <input placeholder="Enter your username" type="text" />
            <p class="error">invalid field</p>
          </div>

          <div class="input">
            <input placeholder="Enter your password" type="password" />
            <p class="error">invalid field</p>
          </div>

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
